app-data-line {
 width: 100%;
}

.footer {
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px 8px;
  display: flex;

  > button {
    flex: 1;
    margin: 0 8px;
  }
}